# Input e Print

In [3]:
print(f"Hello World") # Para dar sorte aos estudos

nome = (input("Digite seu primeiro nome: " ))
sobrenome = (input("Digite seu sobrenome: " ))
print("Oi", nome, sobrenome, sep=" ", end="!")

Hello World
Oi Bruno Lindoso!

# Operadores de Identidade

São operadores utilizados para comparar se os dois objetos testados ocupam a mesma posição na memória.

In [10]:
curso = "Curso de Python"
nome_curso = curso
nome_outro_curso = "Curso de Python"
saldo, limite = 200, 200
saldo_1, limite_1 = 200, 1000

In [13]:
curso is nome_curso

True

In [12]:
curso is nome_outro_curso

False

In [6]:
curso is not nome_curso

False

In [7]:
saldo is limite

True

In [11]:
saldo_1 is limite_1

False

# Operadores de associação

São operadores utilizados para verificar se um objeto está presente em uma sequência

In [14]:
curso = "Curso de Python"
frutas = ["laranja", "uva", "limão"]
saques = [1500, 100]

In [15]:
"Python" in curso

True

In [16]:
"maçã" not in frutas

True

In [17]:
200 in saques

False

# Condicional ternária

In [ ]:
def tem_saldo(saldo:float):
  return "Saldo positivo" if saldo > 0 else "Saldo negativo"

In [8]:
tem_saldo(50.5)

'Saldo positivo'

In [9]:
tem_saldo(-12)

'Saldo negativo'